<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Aim Topic Archive: Retirement and Planning - LGFCU</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  

  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/wireframes.js"></script>

</head>
<body class="int aim aimarchive aimretire">
	{% include 'header.twig' %}
	{% include 'header-aim.twig' %}
			
	
	<div class="row panel">
	
		<!-- START ARTICLES -->
		<div class="small-6 large-6 column left">
				<h2><img class="caticon" src="http://placehold.it/45x45&amp;text=icon">Retirement and Planning Articles</h2>	
					
			<article>
				<div class="large-1 small-2 column col-right">
					<a href="aim-article1.php"><img src="http://placehold.it/675x400&amp;text=Article Video Img" class="bot-padding"></a>
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="aim-article1.php">Why you need a will</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: January 14, 2014</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					<a href="#"><img src="http://placehold.it/675x400&amp;text=Article Graphic" class="bot-padding"></a>
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="#">Is there cash in your attic? How do you know what to keep and what to toss?</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: October 04, 2013</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					&nbsp;&nbsp;
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="#">Why you need a personal finance manager</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: June 06, 2013</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					<a href="#"><img src="http://placehold.it/675x400&amp;text=Article Graphic" class="bot-padding"></a>
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="#">Fiscal Cliff Avoided: But will it still impact your finances?</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: March 02, 2013</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					<a href="#"><img src="http://placehold.it/675x400&amp;text=Article Graphic" class="bot-padding"></a>
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="#">Why you need a personal finance manager</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: January 06, 2013</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					<a href="aim-article1.php"><img src="http://placehold.it/675x400&amp;text=Article Video Img" class="bot-padding"></a>
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="aim-article1.php">Why you need a will</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: November 14, 2012</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					&nbsp;&nbsp;
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="#">Is there cash in your attic? How do you know what to keep and what to toss?</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: September 04, 2012</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					<a href="#"><img src="http://placehold.it/675x400&amp;text=Article Graphic" class="bot-padding"></a>
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="#">Why you need a personal finance manager</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: July 06, 2012</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					<a href="#"><img src="http://placehold.it/675x400&amp;text=Article Graphic" class="bot-padding"></a>
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="#">Fiscal Cliff Avoided: But will it still impact your finances?</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: May 02, 2012</em></p>
				</div>
			</article>
					
			<article>
				<div class="large-1 small-2 column col-right">
					<a href="#"><img src="http://placehold.it/675x400&amp;text=Article Graphic" class="bot-padding"></a>
				</div>
				<div class="large-3 small-4 column">
					<h3><a href="#">Why you need a personal finance manager</a></h3>
				</div>
				<div class="show-for-small small-2 column col-right"> &nbsp;&nbsp;</div>
				<div class="large-2 small-4 column">
					<p><em>Posted: April 06, 2012</em></p>
				</div>
			</article>
			
			<article>
				<p>Topic results: 1 | <a href="#">2</a> | <a href="#">3</a> | ... <a href="#">7</a> | <a href="#">8</a>
				</p>
			</article>
		</div>
		<!-- END ARTICLES -->
		
	
</div>
	
	{% include 'footer.twig' %}
	
</body>
</html>
