<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Why you need a will - Aim - LGFCU</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  

  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/wireframes.js"></script>

</head>
<body class="int aim">
	{% include 'header.twig' %}
	{% include 'header-aim.twig' %}

	<div class="row panel">
	
		<!-- START ARTICLES -->
		<div class="small-6 large-4 column left">

			<article>
				<h5><img class="caticon" src="http://placehold.it/30x30&amp;text=icon"><a href="aim-archive.php">Retirement and Planning</a></h5>
				<h2>Why you need a will</h2>
				<p>By: Rebecca Charloff<br>
				<em>January 14, 2014</em></p>
				<img src="http://placehold.it/760x450&amp;text=Article Video or Graphic" class="bot-padding">
				<p>
While everyone is uncomfortable at the idea of planning for death, it’s an important way to spare your loved ones the problems that can arise from trying to distribute assets and property without a will.
</p>
<p>
A will is a legal document that functions as a blueprint for how you want your property distributed after your death. In the state of North Carolina, anyone who is at least 18 years old and mentally competent may make a will.
</p>

<h4>It’s about more than money</h4>
<p>
If you die without a valid will in place, your property will be divided according to legal rules of inheritance, which may mean that your assets are distributed in ways you would not choose. A will gives you the opportunity to make your expectations clear.
</p>
<p>
“There is no dollar minimum that makes estate planning worth it,” said Sherrie Krizic, Senior Vice President of Financial Planning for Local Government Federal Credit Union. “You may only have a few assets, but you still want them handled in the way you choose.”
</p>

<h4>Getting started</h4>
<p>
Sherrie Krizic, Senior Vice President of Financial Planning for Local Government Federal Credit Union suggests taking inventory of both your assets and your debts. Who do you want to inherit your property? Are there specific items that you intend to leave to certain people? Be clear about your wishes.
</p>

<h4>Choose your executor with care</h4>
<p>
An executor is the person you name to carry out the instructions in your will. It’s important to choose someone you trust to do this — someone who will follow your instructions, regardless of personal feelings or pressure from family members.
</p>
<p>
“Too often, people choose the oldest child or the one who lives closest. If that’s not the best, strongest choice to carry out your wishes, choose someone else. It’s also a good idea to ask the person you choose,” Krizic added. “He or she may not want the responsibility”
</p>
<p>
“If you have minor children, you have the most valuable asset of all. A will lets you document who will take care of them until they reach adulthood,” Krizic said. “It is also a way to make provisions for ailing or disabled adult children, aging parents and even pets.”
</p>
<p>
A comprehensive estate plan is more than a will. Other documents that may be necessary include:
</p>

<h4>Durable Power of Attorney</h4>
<p>
A document giving someone you trust the legal right to act on your behalf.
</p>

<h4>Healthcare Power of Attorney</h4>
<p>
Gives a trusted person the right to make medical decisions for you, should you become unable to speak for yourself.
</p>

<h4>Letter of Last Instruction</h4>
<p>
Acts as an organizational checklist, directing loved ones to the location of important documents and providing burial instructions.
</p>

<h4>Living Will</h4>
<p>
A statement that you do not want your life prolonged by artificial means, if there is no reasonable hope of recovery. In North Carolina, the technical name is Declaration of a Desire for a Natural Death.
</p>

<h4>Do you need a lawyer?</h4>
<p>
According to North Carolina Cooperative Extension, self-made wills can create problems: “An attorney is trained to avoid the legal pitfalls that result from a do-it-yourself will. Prepared wills available for sale do not include legal advice and may not match your situation or conform with every state’s laws.”
</p>
<p>
A will does not take effect until after your death. That means it can be changed or revoked at any time. If changes need to be made, however, it’s important that a new will or a codicil—a legally recognized supplement to an existing will—be prepared by an attorney.
</p>
<p>
“Too many people wait until it’s too late,” said Krizic. “People don’t want to deal with death. It’s difficult. But it can be more difficult for your loved ones later if you don’t document your wishes.”
</p>
<p>
“Legally you don’t need a lawyer,” said Krizic. “But to make sure you take advantage of any and all opportunities to ensure your loved ones will be cared for, you should use an estate planning attorney. Through our partnerships with SECU and MEMBERS Trust Company, LGFCU’s Financial Planning department has a list of attorneys across the state specializing in estate planning.”
</p>
<p>
North Carolina Cooperative Extension recommends not trying to change a will yourself: “Doing so will not accomplish the desired changes and may make your will invalid. Don’t draw a line through a paragraph or write the word ‘omit’. Don’t write extra words on lines. Instead, revoke a will by executing a new one that states all prior wills are invalid.”
</p>
<p>
It is important that you review your will periodically, especially if there are changes such as marriage, divorce, birth of a child, a move to another state or a substantial increase in your income or property value.
</p>
<p>
For more information or assistance with estate planning services, contact Financial Planning at 877.367.5428 or email <a href="mailto:financialplanning@lgfcu.org">financialplanning@lgfcu.org</a>.				
</p>

<div class="large-4 small-6 column col-right">
<p><em>Was this info helpful? <a href="#"><span class="pictogram">&#128077;</span> Yes</a> | <a href="#"><span class="pictogram">&#128078;</span> No</a></em></p>
</div>

<div class="hide-for-small large-2 left text-right">
<p>Share this: <img src="http://placehold.it/30x30&amp;text=FB"> <img src="http://placehold.it/30x30&amp;text=TW"> <img src="http://placehold.it/30x30&amp;text=G"></p>
</div>				

<div class="show-for-small small-6">
<p>Share this: <img src="http://placehold.it/30x30&amp;text=FB"> <img src="http://placehold.it/30x30&amp;text=TW"> <img src="http://placehold.it/30x30&amp;text=G"></p>
</div>				
			</article>
			
			<article class="bot-padding">
				<h3>Comments</h3>
				<img src="img/disqus.png">
			</article>


		</div>
		<!-- END ARTICLES -->
		
		<!-- START SIDEBAR -->
		<div class="small-6 large-2 left column text-left">
				<div class="row segment">
					<img src="http://placehold.it/60x60&amp;text=RSS" class="caticon"><h4>Subscribe to RSS</h4>
				</div>

				<div class="row segment">
					<div class="large-6 small-6 text-left">
						<h4>Related Aim Articles</h4>
						
						<h5><img class="caticon" src="http://placehold.it/40x40&amp;text=icon"><a href="#">Why You Need A Will</a></h5>
		
						<h5><img class="caticon" src="http://placehold.it/40x40&amp;text=icon"><a href="#">Sitting on the Sidelines? Get in the Game! Why it's a great time to buy a house…</a></h5>
		
						<h5><img class="caticon" src="http://placehold.it/40x40&amp;text=icon"><a href="#">Understanding Your Credit Report</a></h5>
						<h5><img class="caticon" src="http://placehold.it/40x40&amp;text=icon"><a href="#">Plan for your own college education!</a></h5>
						<h5><img class="caticon" src="http://placehold.it/40x40&amp;text=icon"><a href="#">Credit Unions and Banks - What's the big difference anyway? Dollars and sense.</a></h5>
					</div>
				</div>

				<div class="row segment side">
					<div class="large-6 small-6 text-left">
						<h4>Related Links</h4>
						
						<ul class="disc">
							<li><a href="#">Worldwide ATM Locator</a></li>
							<li><a href="#">Verified By Visa Credit</a></li>
							<li><a href="#">Cardholder Travel</a></li>
							<li><a href="#">Travel Alerts</a></li>
						</ul>
					</div>
				</div>
				
				<div class="row segment side">
					<div class="large-6 small-6 text-center">
					<img src="http://placehold.it/360x180&amp;text=LGFCU adspace">
					</div>

			
		</div>
		
	</div>
	<!-- END SIDEBAR -->
	
</div>
	{% include 'footer.twig' %}
	
</body>
</html>
