<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Biweekly Mortgages - LGFCU</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  

  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/wireframes.js"></script>

</head>
<body class="int biweeklymort">
	{% include 'header.twig' %}
	{% include 'subnav-mortgages.twig' %}
 
	<div class="row panel">
		<div class="small-6 large-4 left column">
			<h2>Biweekly Mortgages</h2>
			<p><strong>If you're getting a new mortgage and you're paid biweekly, consider our Biweekly Mortgage. </strong></p>
			
			<span class="hide-for-small">
			<h4>A schedule that fits with yours</h4>
			<p>Since many LGFCU members are paid on a biweekly schedule, we offer Biweekly Mortgages. This repayment option is available for 2-year Adjustable-Rate Mortgage, Fixed-Rate Mortgages and First-Time Homebuyer's Mortgage.</p>
			
			<p>
			<a href="#">View Mortgage Rate Sheet</a> (PDF)
			</p>
						
			<br>
			
			<h4>A true biweekly repayment plan</h4>
			<p>Our Biweekly Mortgages are set up on a true biweekly repayment plan. For example, if you request a 30-year mortgage, the repayment schedule will be set up to allow for 780 payments (That 's 30 years x 26 biweekly pay periods per year) over the term of the loan.</p>
			
			<br>
			
			<h4>No-gimmick plan!</h4>
			<p>Don't be fooled by financial institutions who advertise saying they can help you pay off your loan early, but only if you pay them a fee. This plan is not a way to pay off your mortgage early as advertised by others. To repay a mortgage early, all you have to do is pay extra towards the principal balance of the loan. You can do this with each payment or by submitting lump sum payments when funds become available.</p>
			
			<br>
			
			<h4>An account for property taxes and insurance</h4>
			<p>LGFCU helps you prepare for the expense of your property taxes and insurance, too, since these annual expenses can also create budgeting issues when they become due. With each principal and interest payment, we collect 1/26th of the sums that are due each year. These funds are placed in an escrow account where they earn dividends equal to the Share Account rate until they are needed.</p>
			
			<br>
			<h4>Choose the repayment plan that works with your pay schedule!</h4>
				<ul class="disc">
					<li>Call the Contact Center at 888.732.8562</li>
					<li>Visit your <a href="#">local branch</a></li>
				</ul>
			</span>
		</div>
		
		<div class="small-6 large-2 left column text-center sidebar">
			<img src="http://placehold.it/360x222&amp;text=page image/video">
			
			<div class="sidewrap text-left">
				<h3>Learn more</h3>
				<div class="row "><a href="#" data-dropdown="rates" class="small button">View rates</a>
				<!-- RATES DROPDOWN -->
				 <div id="rates" class="large-2 f-dropdown interactive text-left" data-dropdown-content>
					<div data-section="accordion" class="docs section-container accordion" data-section-small-style="true">
					  <section class="section active">
						<div class="content">
						<div class="right text-right">
							<p class="smtxt"><a href="#">Disclosures</a><br>
							<a href="#">Rate Sheet</a> (PDF)
							</p>
							<p class="tinytxt">APR: Annual Percentage Rate</p>
						</div>
						<p class="smtxt"><strong>First time Homebuyers - 2-year ARM</strong><br>
						Term: 30 Years<br>
						Rate: 4.25 APR<br>
						<a href="#" class="small button">Request loan</a></p>
						
						
						  <p class="smtxt"><strong>2-year ARM - 80-90% LTV</strong><br>
						Term: 30 Years<br>
						Rate: 3.25 APR<br>
						<a href="#" class="small button">Request loan</a></p>
						
						  <p class="smtxt"><strong>2-year ARM - 91-100% LTV</strong><br>
						Term: 30 Years<br>
						Rate: 4.25 APR<br>
						<a href="#" class="small button">Request loan</a></p>
						</div>
					  </section>
					</div>
				 </div>
				<!-- end RATES DROPDOWN -->
				</div>
					

				<div class="row">
					<div class="large-6 small-6 text-left">
						<h5>Related Documents</h5>
						<p class="smtxt"><a href="#">Loan Request Information Sheet</a><br>

						<a href="#">Mortgage Checklist</a><br>
						
						<a href="#">Lending Brochure</a><br>
						
						<a href="#">Overview of Services</a></p>
					</div>
				</div>

				<div class="row">
					<div class="large-6 small-6 text-left">
						<h5>Related Calculators</h5>
						<p class="smtxt"><a href="#">How Much Home Can I Afford?</a><br>

						<a href="#">Mortgage Calculator</a></p>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="small-6 left column show-for-small">
			<h4>A schedule that fits with yours</h4>
			<p>Since many LGFCU members are paid on a biweekly schedule, we offer Biweekly Mortgages. This repayment option is available for 2-year Adjustable-Rate Mortgage, Fixed-Rate Mortgages and First-Time Homebuyer's Mortgage.</p>
			
			<p>
			<a href="#">View Mortgage Rate Sheet</a> (PDF)
			</p>
						
			<br>
			
			<h4>A true biweekly repayment plan</h4>
			<p>Our Biweekly Mortgages are set up on a true biweekly repayment plan. For example, if you request a 30-year mortgage, the repayment schedule will be set up to allow for 780 payments (That 's 30 years x 26 biweekly pay periods per year) over the term of the loan.</p>
			
			<br>
			
			<h4>No-gimmick plan!</h4>
			<p>Don't be fooled by financial institutions who advertise saying they can help you pay off your loan early, but only if you pay them a fee. This plan is not a way to pay off your mortgage early as advertised by others. To repay a mortgage early, all you have to do is pay extra towards the principal balance of the loan. You can do this with each payment or by submitting lump sum payments when funds become available.</p>
			
			<br>
			
			<h4>An account for property taxes and insurance</h4>
			<p>LGFCU helps you prepare for the expense of your property taxes and insurance, too, since these annual expenses can also create budgeting issues when they become due. With each principal and interest payment, we collect 1/26th of the sums that are due each year. These funds are placed in an escrow account where they earn dividends equal to the Share Account rate until they are needed.</p>
			
			<br>
			<h4>Choose the repayment plan that works with your pay schedule!</h4>
				<ul class="disc">
					<li>Call the Contact Center at 888.732.8562</li>
					<li>Visit your <a href="#">local branch</a></li>
				</ul>
		</div>
	</div>
	
	

	<div class="ctawrap">
		<div class="row panel">
			<div class="small-6 large-2 left column segment">
				<h4>Related Links</h4>
				<ul class="disc">
					<li><a href="#">Homeowner's Insurance</a></li>
					<li><a href="#">ARM Loans</a></li>
					<li><a href="#">Fixed-Rate Loans</a></li>
				</ul>
			</div>
			<div class="small-6 large-2 left column">
				<h4>Related Aim Articles</h4>
				<ul class="disc">
					<li><a href="#">Related article title one</a></li>
					<li><a href="#">Related article title two</a></li>
					<li><a href="#">Related article title three</a></li>
				</ul>
			</div>
			<div class="small-6 large-2 left column text-center">
			<img src="http://placehold.it/360x180&amp;text=LGFCU adspace">
			</div>
		</div>
	</div>	
	
	
	{% include 'footer.twig' %}
	
</body>
</html>
