<div class="row">
	<div class="large-4 bot-padding column hide-for-small">
	<a href="aim.php"><img src="http://placehold.it/760x125&amp;text=Aim Banner Graphic"></a>
	</div>
	
	<div class="small-6 top-padding bot-padding show-for-small column">
	<a href="aim.php"><img src="http://placehold.it/760x125&amp;text=Aim Banner Graphic"></a>
	</div>
	
	<!-- Aim menu -->
	<div class="large-2 small-6 column">
		<div class="subnav_menu" data-dropdown="aim_menu">
			<a href="#">Aim Topics</a><a href="#" class="button round pictogram">&#9662;</a>
		</div>
		
		<!-- SUBMENU -->
		<div id="aim_menu" class="large-6 small-6 f-dropdown large-menu column" data-dropdown-content>
			<div data-section="accordion" class="docs section-container accordion" data-section-small-style="true">
			  <section class="section active">
				<div class="content">
				  <ul class="side-nav small-6 large-6 left">
							<li><a href="#"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Budgeting and Spending</a></li>
							<li><a href="#"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Debt Management</a></li>
							<li><a href="#"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Home Ownership</a></li>
							<li><a href="#"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Insurance and Safety</a></li>
							<li><a href="#"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Loans and Credit</a></li>
							<li><a href="#"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Money 101</a></li>
							<li><a href="#"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Money Trouble</a></li>
							<li><a class="aimretire_link" href="aim-archive.php"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Retirement and Planning</a></li>
							<li><a href="#"><img class="caticon" src="http://placehold.it/20x20&amp;text=icon">Savings and Investments</a></li>
				  </ul>
				</div>
			  </section>
			</div>
		 </div>
		 <!-- END SUBMENU -->
	
	</div>
	<!-- end Aim menu -->
</div>