<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LGFCU - Local Government Federal Credit Union</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body class="home">
	{% include 'header.twig' %} 
 
	<div class="row panel">
		<div class="small-6 large-4 left column">
			<img src="http://placehold.it/760x275&amp;text=LGFCU main ad">
		</div>
		<div class="hide-for-small large-2 left column login">
		<h3>Member Connect Login</h3>
		<div class="form_row"><label for="mc_user">Username</label><input name="mc_user" id="mc_user" type="text"></div>
		<div class="form_row"><label for="mc_pw">Password</label><input name="mc_pw" id="mc_pw" type="password"></div>
		<a href="#" class="button">Log in</a>
		</div>
	</div>
	
	<div class="row panel">
		<div class="small-6 large-2 left column segment">
			<h4>Credit Union Information</h4>
			<ul class="no-bullet news">
			<li><a href="#"><strong>Alert:</strong> All LGFCU branches closed due inclement weather</a></li> 
			<li><a href="#">City of Monroe Shred & Protect January 20</a></li> 
			<li><a href="#">Savvy consumers prefer credit unions</a></li> 
			<li><a href="#">Choosing a charity</a></li> 
			<li><a href="#">LGFCU closed January 15</a></li> 
			</ul>
		</div>
		<div class="small-6 large-2 left column segment">
			<h4>Financial Tip</h4>
			<p>Create an emergency savings account. The general rule of thumb is to have at least six months of household expenses on hand (i.e. rent/mortgage, debt, food) in the event of a loss of income. Start off with something small (car insurance or energy bill), and gradually increase your savings over time.</p>
		</div>
		
		<div class="small-6 large-2 left column">
			<h4>Your Rates - <a href="#">View more</a></h4>
			<img src="img/rates.gif">
			<!--<div data-section="" class="section-container auto tabs" style="min-height: 51px;" data-section-resized="true">
            <section class="active" style="padding-top: 50px;">
              <p data-section-title="" class="title" style="left: 0px; height: 51px;"><a href="#panel1">Loan Rates</a></p>
              <div data-section-content="" class="content">
              		<div class="row">
						<div class="small-2 large-2 left">New Car</div>
						<div class="small-2 large-2 left column">1.99 APR*</div>
						<div class="small-2 large-2 left text-center"><a href="#" class="small button">Apply!</a></div>
					</div>
              		<div class="row">
						<div class="small-2 large-2 left">Visa</div>
						<div class="small-2 large-2 left column">9.75 APR</div>
						<div class="small-2 large-2 left text-center"><a href="#" class="small button">Apply!</a></div>
					</div>
              		<div class="row">
						<div class="small-2 large-2 left">Home Equity</div>
						<div class="small-2 large-2 left column">4.75 APR</div>
						<div class="small-2 large-2 left text-center"><a href="#" class="small button">Apply!</a></div>
					</div>
					<h6>*APR: Annual Percentage Rate</h6>
              </div>
            </section>
            <section style="padding-top: 50px;" class="">
              <p data-section-title="" class="title" style="left: 99px; height: 51px;"><a href="#panel2">Deposit Rates</a></p>
              <div data-section-content="" class="content">
              		<div class="row">
						<div class="small-2 large-2 left">Share Account</div>
						<div class="small-2 large-2 left column">0.25 APY*</div>
						<div class="small-2 large-2 left text-center"><a href="#" class="small button">Open!</a></div>
					</div>
              		<div class="row">
						<div class="small-2 large-2 left">Money Market</div>
						<div class="small-2 large-2 left column">0.35 APY</div>
						<div class="small-2 large-2 left text-center"><a href="#" class="small button">Open!</a></div>
					</div>
              		<div class="row">
						<div class="small-2 large-2 left">Traditional IRA</div>
						<div class="small-2 large-2 left column">1.00 APY</div>
						<div class="small-2 large-2 left text-center"><a href="#" class="small button">Open!</a></div>
					</div>
					<h6>*APY: Annual Percentage Yield</h6>
              </div>
            </section>
          </div>-->
		</div>
	</div>

	<div class="rowwrap">
		<div class="row panel tools">
			<div class="small-3 large-2 left column">
				<h4 class="hide-for-small">Aim Blog</h4>
				<a href="aim.php" class="button show-for-small">Aim Blog</a>
				<p class="hide-for-small">Expert financial advice lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				<a href="aim.php" class="hide-for-small small button">View latest articles</a>
			</div>
			<div class="small-3 large-2 left column">
				<h4 class="hide-for-small">Financial Calculators</h4>
				<a href="#" class="button show-for-small">Financial Calculators</a>
				<ul class="no-bullet news hide-for-small">
					<li><a href="#">Popular calculator title 1</a></li> 
					<li><a href="#">Popular calculator title 2</a></li> 
					<li><a href="#">Popular calculator title 3</a></li> 
				</ul>
				<a href="#" class="hide-for-small small button">More calculators</a>
				
			</div>
			<div class="hide-for-small large-2 left column">
			<h4>Compass by LGFCU</h4> 
			<p class="hide-for-small">Compass copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<a href="#" class="hide-for-small small button">Sign up today!</a>
			</div>
		</div>
	</div>	
	
	
	{% include 'footer.twig' %}
	
</body>
</html>
