<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Land Loans - LGFCU</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  

  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/wireframes.js"></script>

</head>
<body class="int landloans">
	{% include 'header.twig' %}
	{% include 'subnav-mortgages.twig' %}	 
 
	<div class="row panel">
		<div class="small-6 large-4 left column">
			<h2>Land Loans</h2>
			<p><strong>LGFCU offers a loan to finance your future home site. </strong></p>
			
			<span class="hide-for-small">
			<ul class="disc">
				<li>Finance primary or second/vacation home.</li>
				<li>Loans up to 75 percent of the lesser of purchase price or appraised value.</li>
				<li>Loan must be in first lien position.</li>
				<li>Maximum term 180 months (15 years).</li>
				<li>Property must be in North Carolina or in a county in SC, VA, or GA that borders NC.</li>
				<li>Life and Disability Insurance available.</li>
				<li>No discount points required.</li>
			</ul>
			
			<p>
			<a href="#">View Deed of Trust (Unimproved) Loan Rate</a> (PDF)
			</p>
						
			<br>
			<h4>Apply now!</h4>
				<ul class="disc">
					<li>Log in to Member Connect</li>
					<li>Call the Contact Center at 888.732.8562 </li>
					<li>Visit your <a href="#">local branch</a></li>
				</ul>
			</span>
		</div>
		
		<div class="small-6 large-2 left column text-center sidebar">
			<img src="http://placehold.it/360x222&amp;text=page image/video">
			
			<div class="sidewrap text-left">
				<h3>Learn more</h3>
				<div class="row "><a href="#" data-dropdown="rates" class="small button">View rates</a>
				<!-- RATES DROPDOWN -->
				 <div id="rates" class="large-2 f-dropdown interactive text-left" data-dropdown-content>
					<div data-section="accordion" class="docs section-container accordion" data-section-small-style="true">
					  <section class="section active">
						<div class="content">
						<div class="right text-right">
							<p class="smtxt"><a href="#">Disclosures</a><br>
							<a href="#">Rate Sheet</a> (PDF)
							</p>
							<p class="tinytxt">APR: Annual Percentage Rate</p>
						</div>
						<p class="smtxt"><strong>Deed of Trust (Unimproved)</strong><br>
						Payroll or Funds Transfer APR: 7.75<br>
						Direct Pay APR: 8.25
						<a href="#" class="small button">Request loan</a></p>
						</div>
					  </section>
					</div>
				 </div>
				<!-- end RATES DROPDOWN -->
				</div>
					

				<div class="row">
					<div class="large-6 small-6 text-left">
						<h5>Related Documents</h5>
						<p class="smtxt"><a href="#">Loan Request Information Sheet</a><br>

						<a href="#">Mortgage Checklist</a><br>
						
						<a href="#">Lending Brochure</a><br>
						
						<a href="#">Overview of Services</a><br>
						
						<a href="#">Loan Rate Sheet</a></p>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="small-6 left column show-for-small">
			<ul class="disc">
				<li>Finance primary or second/vacation home.</li>
				<li>Loans up to 75 percent of the lesser of purchase price or appraised value.</li>
				<li>Loan must be in first lien position.</li>
				<li>Maximum term 180 months (15 years).</li>
				<li>Property must be in North Carolina or in a county in SC, VA, or GA that borders NC.</li>
				<li>Life and Disability Insurance available.</li>
				<li>No discount points required.</li>
			</ul>
			
			<p>
			<a href="#">View Deed of Trust (Unimproved) Loan Rate</a> (PDF)
			</p>
						
			<br>
			<h4>Apply now!</h4>
				<ul class="disc">
					<li>Log in to Member Connect</li>
					<li>Call the Contact Center at 888.732.8562 </li>
					<li>Visit your <a href="#">local branch</a></li>
				</ul>
		</div>
	</div>
	
	

	<div class="ctawrap">
		<div class="row panel">
			<!--<div class="small-6 large-2 left column segment">
				<h4>Related Products and Services</h4>
				<ul class="disc">
					<li><a href="#">Homeowner's Insurance</a></li>
					<li><a href="#">ARM Loans</a></li>
					<li><a href="#">Fixed-Rate Loans</a></li>
				</ul>
			</div>-->
			<div class="small-6 large-2 left column">
				<h4>Related Aim Articles</h4>
				<ul class="disc">
					<li><a href="#">Related article title one</a></li>
					<li><a href="#">Related article title two</a></li>
					<li><a href="#">Related article title three</a></li>
				</ul>
			</div>
			<div class="small-6 large-2 left column text-center">
			<img src="http://placehold.it/360x180&amp;text=LGFCU adspace">
			</div>
		</div>
	</div>	
	
	
	{% include 'footer.twig' %}
	
</body>
</html>
