<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Second Mortgage Loan - LGFCU</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  

  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/wireframes.js"></script>

</head>
<body class="int">
	{% include 'header.twig' %}
	<!-- LARGE SUBMENU -->
	<div class="subnavwrap hide-for-small">
		<div class="row">
			<div class="column large-1 medium-2 text-right">
			<h4>Mortgages</h4>
			</div>
			<div class="column large-1 medium-2">
				<ul class="no-bullet">
					<li><a href="#">Mortgage Assistance Program</a></li>
					<li><a href="#">Biweekly Mortgages</a></li>
				</ul>
			</div>
			<div class="column large-1 medium-2">
				<ul class="no-bullet">
					<li><a href="#">ARM Loans</a></li>
					<li><a href="#">Fixed-Rate Loans</a></li>
					<li><a href="#">Construction Loans</a></li>
				</ul>
			</div>
			<div class="column show-for-medium medium-2"><h4></h4></div>
			<div class="column large-1 medium-2">
				<ul class="no-bullet">
					<li><a href="#">Land Loans</a></li>
					<li><a href="#">Manufactured Home Loans</a></li>
				</ul>
			</div>
			<div class="column large-1 medium-2">
				<ul class="no-bullet">
					<li><a href="#">Rental Property Loans</a></li>
					<li><a href="#">Reverse Mortgage</a></li>
 			</ul>
			</div>
			<div class="column show-for-medium medium-2"><h4></h4></div>
			<div class="column large-1 medium-2">
				<ul class="no-bullet">
					<li><a href="#">Mortgage Credit Certificates</a></li>
					<li><a href="#">Escrow Account</a></li>
 				</ul>
			</div>
		</div>
	</div> <!-- end of subnavwrap -->
	
	<div class="small-6 show-for-small subnav_menu column" data-dropdown="mort_menu">
			<a href="#">Mortgages Menu</a><a href="#" class="button round show-for-small">+</a>
	</div>

	
	<!-- SMALL SUBMENU -->
<div id="mort_menu" class="small-6 f-dropdown large-menu" data-dropdown-content>
	<div data-section="accordion" class="docs section-container accordion" data-section-small-style="true">
      <section class="section active">
        <div class="content">
          <ul class="side-nav">
					<li><a href="#">Mortgage Assistance Program</a></li>
					<li><a href="#">Biweekly Mortgages</a></li>
					<li><a href="#">ARM Loans</a></li>
					<li><a href="#">Fixed-Rate Loans</a></li>
					<li><a href="#">Construction Loans</a></li>
					<li><a href="#">Land Loans</a></li>
					<li><a href="#">Manufactured Home Loans</a></li>
					<li><a href="#">Rental Property Loans</a></li>
					<li><a href="#">Reverse Mortgage</a></li>
					<li><a href="#">Mortgage Credit Certificates</a></li>
					<li><a href="#">Escrow Account</a></li>
          </ul>
        </div>
      </section>
    </div>
 </div>
 
 
	<div class="row panel">
		<div class="small-6 large-4 left column">
			<h3>Second Mortgage Loan</h3>
			<p><strong>LGFCU offers a variable-rate and a fixed-rate second mortgage loan for improved property.</strong></p>
			
			<span class="hide-for-small">
			<h5>Closed-End, Fixed-Rate Second Mortgage</h5>

			<p>For members who want the security of a fixed rate. It may be used for a variety of reasons including debt consolidation or home improvements. May be secured by a primary residence.</p>
			<ul class="disc">
				<li>Maximum loan amount $50,000</li>
				<li>Maximum term 10 years</li>
				<li>Amount based on loan-to-value of the property securing the loan</li>
				<li>No origination fees or discount points required</li>
				<li>Life and Disability Insurance available</li>
			</ul>
			
			<br>
			
			<h5>Closed-End, Variable-Rate Second Mortgage</h5>
			
			<p>Best for members who are borrowing for a specific purpose. May be secured by a primary residence.</p>
			<ul class="disc">
				<li>Interest rate subject to change by a maximum of 1 percent per quarter and the cap over the life of the loan is 18%</li>
				<li>Maximum term 10 years</li>
				<li>Amount based on loan-to-value of the property securing the loan</li>
				<li>No origination fees or discount points required</li>
				<li>Life and Disability Insurance available</li>
			</ul>
			
			<br>
			<h5>To Apply</h5>
				<ul class="disc">
					<li>Fill out the <a href="#">Loan Request Form</a></li>
					<li>Call the Contact Center at 888.732.8562 or</li>
					<li>Visit your <a href="#">local branch for an application</a></li>
				</ul>
			</span>
		</div>
		
		<div class="small-6 large-2 left column text-center">
			<img src="http://placehold.it/360x222&amp;text=page image/video">
			
			<div class="sidewrap">
				<div class="row more"><a href="#" class="button round" data-dropdown="rates">+</a>
					<div class="large-2 small-2 column col-right text-right">
						<h5>Rates</h5>
						<p class="smtxt"><a href="#">Disclosures</a><br>
						<a href="#">Rate Sheet</a> (PDF)</p>
					</div>
					<div class="large-4 small-4 column col-left text-left">
						<p class="smtxt"><strong>2nd Mortgage - 80-90% LTV</strong><br>
						Term: 10 Years<br>
						Payroll or Funds<br>
						Transfer APR: 8.75<br>
						Direct Pay APR: 9.25<br>
						<a href="#" class="small button">Request loan</a></p>
					</div>
				
				<!-- RATES DROPDOWN -->
				 <div id="rates" class="large-2 f-dropdown interactive text-left" data-dropdown-content>
					<div data-section="accordion" class="docs section-container accordion" data-section-small-style="true">
					  <section class="section active">
						<div class="content">
						  <p class="smtxt"><strong>2nd Mortgage - 100% LTV</strong><br>
						Term: 10 Years<br>
						Payroll or Funds<br>
						Transfer APR: 9.75<br>
						Direct Pay APR: 10.25<br>
						<a href="#" class="small button">Request loan</a></p>
						</div>
					  </section>
					</div>
				 </div>
				<!-- end RATES DROPDOWN -->
				</div>
					

				<div class="row">
					<div class="large-2 small-2 column col-right text-right">
						<h5>Docs</h5>
					</div>
					<div class="large-4 small-4 column col-left text-left">
						<p class="smtxt"><a href="#">Loan Request Information Sheet</a><br>

						<a href="#">Mortgage Checklist</a><br>
						
						<a href="#">Lending Brochure</a><br>
						
						<a href="#">Overview of Services</a></p>
					</div>
				</div>

				<div class="row">
					<div class="large-2 small-2 column col-right text-right">
						<h5>Calcs</h5>
					</div>
					<div class="large-4 small-4 column col-left text-left">
						<p class="smtxt"><a href="#">How Much Home Can I Afford?</a><br>

						<a href="#">Mortgage Calculator</a></p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="small-6 left column show-for-small">
			<h5>Closed-End, Fixed-Rate Second Mortgage</h5>

			<p>For members who want the security of a fixed rate. It may be used for a variety of reasons including debt consolidation or home improvements. May be secured by a primary residence.</p>
			<ul class="disc">
				<li>Maximum loan amount $50,000</li>
				<li>Maximum term 10 years</li>
				<li>Amount based on loan-to-value of the property securing the loan</li>
				<li>No origination fees or discount points required</li>
				<li>Life and Disability Insurance available</li>
			</ul>
			
			<br>
			
			<h5>Closed-End, Variable-Rate Second Mortgage</h5>
			
			<p>Best for members who are borrowing for a specific purpose. May be secured by a primary residence.</p>
			<ul class="disc">
				<li>Interest rate subject to change by a maximum of 1 percent per quarter and the cap over the life of the loan is 18%</li>
				<li>Maximum term 10 years</li>
				<li>Amount based on loan-to-value of the property securing the loan</li>
				<li>No origination fees or discount points required</li>
				<li>Life and Disability Insurance available</li>
			</ul>
			
			<br>
			<h5>To Apply</h5>
				<ul class="disc">
					<li>Fill out the <a href="#">Loan Request Form</a></li>
					<li>Call the Contact Center at 888.732.8562 or</li>
					<li>Visit your <a href="#">local branch for an application</a></li>
				</ul>
		</div>
	</div>
	
	

	<div class="ctawrap">
		<div class="row panel">
			<div class="small-6 large-2 left column segment">
				<h4>Related Products and Services</h4>
				<ul class="disc">
					<li><a href="#">Homeowner's Insurance</a></li>
					<li><a href="#">Related service</a></li>
				</ul>
			</div>
			<div class="small-6 large-2 left column">
				<h4>Related Articles</h4>
				<ul class="disc">
					<li><a href="#">Related article title one</a></li>
					<li><a href="#">Related article title two</a></li>
					<li><a href="#">Related article title three</a></li>
				</ul>
			</div>
			<div class="small-6 large-2 left column text-center">
			<img src="http://placehold.it/360x180&amp;text=LGFCU adspace">
			</div>
		</div>
	</div>	
	
	
	{% include 'footer.twig' %}
	
</body>
</html>
