<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Security: Types of Financial Fraud - LGFCU</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  

  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/wireframes.js"></script>

</head>
<body class="int typesfraud">
	<?php include 'header.php'?>
	
	<div class="small-6 show-for-small subnav_menu column" data-dropdown="sec_menu">
			<a href="#">Security Menu</a><a href="#" class="button round pictogram show-for-small">&#9662;</a>
	</div>
	<div id="sec_menu" class="small-6 f-dropdown large-menu" data-dropdown-content>
		<div data-section="accordion" class="docs section-container accordion" data-section-small-style="true">
		  <section class="section active">
			<div class="content">
			  <ul class="side-nav">
					<li><a href="lgfcu-protects.php" class="lgfcuprotects_link">LGFCU Protects You</a></li>
					<li><a href="#">How to Protect Yourself</a></li>
					<li><a href="types-fraud.php" class="typesfraud_link">Types of Fraud</a></li>
					<li><a href="#">Detect and Prevent Fraud</a></li>
			  </ul>
			</div>
		  </section>
		</div>
	 </div>
 
  
	<div class="row panel">
		<div class="small-6 large-4 left column">
			<h2>Types of Fraud</h2>
			<p><strong>Criminals have risen to the challenge of the digital world, inventing new and creative ways to catch you off-guard. </strong></p>
			
			<article>
			<h4>Email Scams</h4>
			<p>Email that appears to be from LGFCU, asking for your personal account information, is a scam known as phishing or spoofing. Recognize the red flags:
			</p>

<ul class="disc">
<li>A request for your account number, Social Security number, PIN or other confidential information via email.</li>
<li>Claims that your account may be closed if you fail to confirm, verify or authenticate your personal information.</li>
<li>A message stating that LGFCU needs to confirm your personal information to conduct upgrades to its system, or a request to update your information online.</li>
<li>A message asking you to complete a brief customer service survey in exchange for a monetary credit to your account. The thief will ask for your account number to allegedly deposit your "reward."</li>
<li>Email with typos and grammatical errors, sloppy writing and unprofessional design.</li>
</ul>

<h5>What to do</h5>

<ul class="disc">
<li>When you access the LGFCU site, look for a closed padlock on your browser window, indicating a secure and authentic connection.</li>
<li>Make sure you are at the LGFCU site when you sign into Member Connect.</li>
<li>Report it! If you receive a suspicious email, do not click on any links or reply to it. Forward a copy to us at <a href="mailto:info@lgfcu.org">info@lgfcu.org</a> then delete it.</li>
</ul>
	</article>
			
			<article>
			<h4>Phone Scams</h4>
			<p>Automated phone calls ("vishing") are designed to scam members by making false claims.
</p>
<p>
For example, a scheme in North Carolina featured this phone message: "Your ATM/debit card has been suspended because it has been accessed by a third party." Members were directed to "press 1" to access the bank's security department, and then asked to provide their card number, PIN number, and other card and personal information. 
</p>

<h5>What to do</h5>
<p>
If you receive a suspicious call—particularly an automated one—on a land line or cell phone: 
</p>

<ul class="disc">
<li>Hang up! Do not give out any account or personal information.</li>
<li>Write down the phone number if you have Caller ID.</li>
<li>Take note of what was said and any other information that might be helpful.</li>
<li>Report it! Call LGFCU and local law enforcement immediately.</li>
</ul>
	</article>
			
			<article>
			<h4>Text Message Scams</h4>
			<p>SMiShing is phishing that occurs through SMS text messaging. Such a scam once targeted LGFCU members with this message:
</p>
<p>
    <em>"msg: CU urgent notification. From: auto-notice@ncsecu.org. your credit union card has suspicious activity."</em> 
</p>
<p>
Members were asked to respond with the last four digits of their card number and PIN. 
</p>

<h5>What to do</h5>
<ul class="disc">
<li>Report it! Call LGFCU.</li>
<li>Delete it! LGFCU would never request account or personal information from a member via text message.</li>
<li>If you have already responded to this text message, contact the Credit Union Contact Center at 888.732.8562 immediately to have your card blocked.</li>
</ul>
	</article>
			
			<article>
			<h4>Skimming</h4>
			<div class="large-2 small-3 right column col-left">
			<img src="http://placehold.it/360x222&amp;text=example img">
			</div>
			<p>Skimming devices are small, well-hidden and/or camouflaged electronic devices that illegally capture your personal information when you swipe your card at an ATM or locations such as at a gas station pump or restaurant.
			</p>
			
<h5>How skimming works</h5>
<p>
Most commonly, the thief places a device over the card slot on the ATM, and a small pinhole camera is installed to record activity on the keypad and screen. When you insert or swipe your card, the device captures the information contained on your card's magnetic strip, while the camera records you entering your PIN. Once your transaction is complete, the thief has gained your account information and the ability to access the account. Then, they can create a fake card with direct access to your money.
			</p>
			
<h5>Why ATM skimmers often go undetected</h5>
<p>
Skimming devices are designed to appear as part of the machine and the camera is often concealed in a mirror or nearby structure facing the ATM keypad. Since the ATM works normally with the devices in place, the victim is unaware that their information is being stolen. 
</p>

<h5>What to do</h5>
			<div class="large-2 small-3 right column col-left">
			<img src="http://placehold.it/360x222&amp;text=example img">
			</div>
<ul class="disc">
<li>Be observant. Make sure nothing on the ATM looks out of place. A gentle pull on a piece of odd-looking equipment may reveal a skimming device. Often, they are attached using only double-sided tape.</li>
<li>Be wary of an ATM near one that is jammed or has an "out-of-order" sign. This could be a ploy to force you to use the nearby ATM with a skimmer attached.</li>
<li>Protect your PIN by covering the keypad when you enter it.</li>
<li>Conduct your ATM transactions during daylight hours; most ATM-related crimes occur after dark.</li>
<li>Check your accounts regularly to make sure there are no unusual or unauthorized transactions. If you notice anything suspicious, contact your financial institution immediately.</li>
<li>If you notice something suspicious at an ATM, call LGFCU and your local police.</li>
</ul>
	</article>

		</div>
		
		<div class="small-6 large-2 left column sidebar">
			<div class="hide-for-small">
			<h3>Security</h3>
				<ul class="side-nav">
					<li><a href="lgfcu-protects.php" class="lgfcuprotects_link">LGFCU Protects You</a></li>
					<li><a href="#">How to Protect Yourself</a></li>
					<li><a href="types-fraud.php" class="typesfraud_link">Types of Fraud</a></li>
					<li><a href="#">Detect and Prevent Fraud</a></li>
			   </ul>
			</div>
			
			<div class="text-center bot-padding">
			<img src="http://placehold.it/360x222&amp;text=page image/video">
			</div>
			
			<h4>Report Scams and Fraud</h4>
			<p>Contact Center: 888.732.8562<br>
Administrative Office: 800.344.4846<br>
Email: info@lgfcu.org 
</p>
		</div>
		
	</div>
	
	

	<div class="ctawrap">
		<div class="row panel">
			<div class="small-6 large-2 left column segment">
				<h4>Related Links</h4>
				<ul class="disc">
					<li><a href="#">Worldwide ATM Locator</a></li>
					<li><a href="#">Verified By Visa Credit</a></li>
					<li><a href="#">Cardholder Travel</a></li>
					<li><a href="#">Travel Alerts</a></li>
				</ul>
			</div>
			<div class="small-6 large-2 left column">
				<h4>Related Aim Articles</h4>
				<ul class="disc">
					<li><a href="#">Related article title one</a></li>
					<li><a href="#">Related article title two</a></li>
					<li><a href="#">Related article title three</a></li>
				</ul>
			</div>
			<div class="small-6 large-2 left column text-center">
			<img src="http://placehold.it/360x180&amp;text=LGFCU adspace">
			</div>
		</div>
	</div>	
	
	
	{% include 'footer.twig' %}
	
</body>
</html>
