{% set bodyClass = "home" %}

{% extends "../layouts/base.twig" %}
{% block body %}

<div class="headerwrap">
	<header>
    	<div class="one-col logo">
        	<img src="images/leftydesigner.svg" alt="LeftyDesigner logo" />
            <h1>Shannon M&oslash;lhave</h1>
        </div>
        
        <div class="two-col intro">
        <h1>Shannon M&oslash;lhave</h1>
        <h2>American UX designer with a background in web design and front-end development.</h2>
        </div>
        
        <div class="one-col quote"  id="theQuote">
        </div>
    	
    </header>
</div>


<div class="aboutwrap">
	<section id="aboutsec">
    	<h1>About </button><button class="right" id="aboutnext"></button><button class="left" id="aboutprev"></button></h1>
        <div id="myinfo">
        	<div class="entry">
            	<article>
                	<h3>Background</h3>
                    <p>
                    Based in Aarhus, Denmark, I'm originally from the state of Michigan in the U.S. and graduated from the University of Michigan School of Art and Design in 2003. Currently working as Senior UX Designer for <a href="https://www.stibosystems.com/" target="_blank">Stibo Systems</a> with past work experience spanning from web design to art direction. In addition to expanding my UX skills, I enjoy running, cycling and spending time with my two young daughters.
                    </p>
                    <p>
                    	<a href="smoelhaveresume.pdf" class="download">Download CV</a>
                    </p>
                </article>
            </div>
        	<div class="entry">
            	<article>
                	<h3>Invited Speaker</h3>
                    <a href="https://markedsforing.dk/kurser/ux-academy-ux-i-store-virksomheder/" target="_blank"><h4>UX at Stibo Systems</h4></a>
<p><a href="https://markedsforing.dk/kurser/subject/ux/" target="_blank">Dansk Markedsførings UX Academy</a><br>
	<em>February 27, 2023</em>

</p>
					
					 <a href="https://www.uxnordic.com/session/a-box-of-building-blocks-ux-design-for-a-configurable-product" target="_blank"><h4>A Box of Building Blocks: UX Design for a Configurable Product</h4></a>
<p><a href="https://www.uxnordic.com/" target="_blank">UX Nordic Conference</a><br>
	<em>August 26, 2022</em>

</p>
					
					<h4>10 Ways to Improve your Website's User Experience</h4>
<p>AIGA Homegrown Lunch-n-Learn<br>
					<em>October 8, 2013 / <a href="http://raleigh.aiga.org/recap-homegrown-10-ways-to-improve-ux/" target="_blank">Presentation recap</a> / <a href="talks/aiga-improve-ux/#/" target="_blank">Presentation slides</a></em>
<br><br>
	Digital Marketing for Business (DMFB) Conference<br>
						<em>April 16, 2013 / <a href="http://www.slideshare.net/srmoelhave/10-waysimproveux" target="_blank">Presentation slides</a></em>
					</p>

                </article>
            </div>
        	<div class="entry">
            	<article>
                	<h3>Online Community</h3>
                	<a href="http://codepen.io/LeftyDesigner/details/BdDza/" target="_blank"><h4>Responsive HTML Email Template</h4></a>
                    <p>Developed over many months of trial and error, I shared this responsive email template on CodePen for anyone to use. It tests successfully in Gmail, Yahoo, Mac and PC Outlook, and works responsively in the native Android, iOS and Gmail apps. 
                    </p>
                    
                	<a href="http://onefoursev.tumblr.com/post/81283667458/shannon-m-lhave" target="_blank"><h4>147 Interview</h4></a>
                    <p>I was honored to be one of the featured Triangle creatives on the 147 site, which posted monthly interviews with local artists throughout 2013. 
                    </p>
                </article>
            </div>
        	<div class="entry">
            	<article>
                	<h3>LeftyDesigner Website</h3>
                    <p>
                    This responsive website was built mobile-first using CSS flexbox for layout, Sass for CSS preprocessing and jQuery for many of the interactions. The quotes in the header are my own taken from talks and various tweets. Any feedback on the design, source code or structure is more than welcome, shoot me a tweet at <a href="https://twitter.com/LeftyDesigner" target="_blank">@LeftyDesigner</a>!
                    </p>
                </article>
            </div>
        </div>
    </section>
</div>


<div class="workwrap">
	<section id="worksec">
    	<h1>Work <button class="right" id="worknext"></button><button class="left" id="workprev"></button></h1>
        <div id="projects">
        	<div class="entry">
            	<article>
                	<img src="images/work/thumb-scalgosite.jpg" alt="SCALGO Website Redesign" />
                    <a href="work-scalgosite.html">
                    	<span class="linkwrap">SCALGO Website Redesign
                    		<span class="skill">Web Design / Front-end Dev</span>
                        </span>
                    </a>
                </article>
            </div>
        	<div class="entry">
            	<article>
                	<img src="images/work/thumb-lgfcu.org.jpg?v=1" alt="LGFCU Website Redesign" />
                    <a href="work-lgfcu-org.html">
                    	<span class="linkwrap">LGFCU Website Redesign
                    		<span class="skill">UI Design / Project Management / Front-end Dev</span>
                        </span>
                    </a>
                </article>
            </div>
        	<div class="entry">
            	<article>
                	<img src="images/work/thumb-scalgolive.jpg" alt="SCALGO Live Global Interface" />
                    <a href="work-scalgolive.html">
                    	<span class="linkwrap">SCALGO Live Interface
                    		<span class="skill">UI Design</span>
                        </span>
                    </a>
                </article>
            </div>
        	<div class="entry">
            	<article>
                	<img src="images/work/thumb-fte.jpg" alt="Footnotes Tap Ensemble Website" />
                    <a href="work-footnotes.html">
                    	<span class="linkwrap">Footnotes Tap Ensemble Website
                    		<span class="skill">Web Design / Front-end Dev</span>
                        </span>
                    </a>
                </article>
            </div>
        	<div class="entry">
            	<article>
                	<img src="images/work/thumb-lgfcucl.jpg" alt="LGFCU Commercial Lending Website" />
                    <a href="work-lgfcucl">
                    	<span class="linkwrap">LGFCU Commercial Lending Website
                    		<span class="skill">Web Design / Front-end Dev</span>
                        </span>
                    </a>
                </article>
            </div>
        </div>
    </section>
</div>


<div class="contactwrap">
	<section id="contactsec">
    	<h1>Contact</h1>
            	<article>
                	<div class="one-col">
                    	<ul>
                            <li><a href="mailto:shannon@leftydesigner.com" target="_blank"><img src="images/email.svg" />Email</a></li>
                            <li><a href="https://twitter.com/LeftyDesigner" target="_blank"><img src="images/twitter.svg" />Twitter</a></li>
                        </ul>
                    </div>
                	<div class="one-col">
                    	<ul>
                        	<li><a href="https://dribbble.com/LeftyDesigner" target="_blank"><img src="images/dribbble2.svg" />Dribbble</a></li>
                        	<li><a class="dribbble" href="http://codepen.io/LeftyDesigner/" target="_blank"><img src="images/codepen.svg" />CodePen</a></li>
                        </ul>
                    </div>
                </article>
    </section>
</div>


<script>

$(function() {
   var aboutContainer = $("#myinfo");
   var workContainer = $("#projects");
   
   var resize=function() {
      var width = $("#aboutsec").width();
      var aboutItems = 1;
	  var projectItems = 2;

        if (width > 940) {
          aboutItems = 2;
		  projectItems = 4;
        } else if (width > 550) {
		  aboutItems = 1;
		  projectItems = 3;
        }

      	$("#aboutnext").off().click(function() {
			$("#myinfo").dragend("left");
			$("#aboutprev").css("display","block");
		});
		
		$("#aboutprev").click(function() {
			$("#myinfo").dragend("right");
		});
		
		$("#worknext").off().click(function() {
			$("#projects").dragend("left");
			$("#workprev").css("display","block");
		});
		
		$("#workprev").click(function() {
			$("#projects").dragend("right");
		});
		
        aboutContainer.dragend({
          itemsInPage: aboutItems,
          pageClass: "entry",
		  afterInitialize: function() {
			  $(".entry",aboutContainer).css("height","");
		  }
        });
		
		workContainer.dragend({
          itemsInPage: projectItems,
          pageClass: "entry",
 		  afterInitialize: function() {
			  $(".entry",workContainer).css("height","");
		  }
       });
   }
   
     $(window).ready(function() { resize(); });
	 $(window).resize(function() { resize(); });

    });
</script>

<script>
	$(window).ready(function() { 		
		var v = Math.floor(Math.random()*4);		
		switch (v) {
			case 0: {
				$('#theQuote').html('<p>The success of your website is determined only by those who use it.</p>');
				break;
			}
			case 1: {
				$('#theQuote').html('<p class="bigtxt">Delight, not distract.</p>');
				break;
			}
			case 2: {
				$('#theQuote').html('<p>Don\'t interrupt your own content.</p>');
				break;
			}
			case 3: {
				$('#theQuote').html('<p>Successful design accommodates an unlikely scenario without sacrificing usability.</p>');
				break;
			}
		}			   
	});
</script>
{% endblock %}