{% extends "../layouts/base.twig" %}
{% block body %}
<nav>
	<div class="nav-seg">
    	<a title="LeftyDesigner Home" href="/"><p>
    	<img src="images/shannon-moelhave-pic.jpg" alt="Shannon Mølhave picture" />
        Shannon M&oslash;lhave
        </p></a>
    </div>
    <div class="nav-seg menu">
        <a href="/#aboutsec">About</a>
        <a href="/#worksec">Work</a>
        <a href="/#contactsec">Contact</a>
     </div>
</nav>
{% block main %}{% endblock %}
{% endblock %}