$smtablet-width: 550px;
$tablet-width: 940px;
$desktop-width: 1140px;


@mixin smtablet {
  @media (min-width: #{$smtablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

