@charset "UTF-8";
/* SCSS Document */

$link: #3a9699;

$border: solid 3px #fff;
$imgborder: solid 1px #ccc;

$sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$serif: Georgia, serif;

$navheight: 66px;

$homewidth: 1124px;
$workwidth: 800px;

$wrappading-mobile: 1.875em 1.25em; /* 30px 20px */
$wrappading-tab: 1.875em 2.5em; /* 30px 40px */